<div class="header">
	<h2>Todo List</h2>
	<form>
		<label for="inputbox"><%= message %></label>
		<input type="text" name="item" id="inputbox" maxlength="15" placeholder="不超过15个字符" required />
		<button type="button" id="btn">登录</button>
	</form>
</div>