<% for (var i=0;i<events.length;i++){ %>
	<li class="item">
		<span class="event"><%= events[i].event %></span>
		<span class="close" user=<%= user %> >x</span>
		<span class="time"><%= events[i].time %></span>
	</li>
<% } %>